# Minecraft connection
MC_HOST=mc.goldskyblock.cz
MC_PORT=25565
MC_USERNAME=tvuj@email.cz
MC_AUTH=microsoft
MC_PROFILES_FOLDER=./aut_cache
MC_VERSION=1.21.11
MC_HIDE_PROTOCOL_ERRORS=true

# Lobby transfer
LOBBY_AUTO=true
LOBBY_REMOTE_ADDRESS=185.180.2.13
LOBBY_Y=112
LOBBY_SELECTOR_SLOT=4
LOBBY_SELECTOR_ITEM=nether_star
LOBBY_SELECTOR_NAME=Výběr serveru
LOBBY_MENU_SLOT=11
LOBBY_MOUSE_BUTTON=1
LOBBY_CLICK_MODE=0
LOBBY_SUCCESS_MESSAGE=+ TvojeJmeno
LOBBY_INITIAL_DELAY_MS=1000
LOBBY_SELECT_DELAY_MS=150
LOBBY_WINDOW_TIMEOUT_MS=5000
LOBBY_MENU_CLICK_DELAY_MS=500
LOBBY_SUCCESS_TIMEOUT_MS=4000

# Prismarine viewer
VIEWER_ENABLED=false
VIEWER_PORT=3000
VIEWER_VIEW_DISTANCE=6
VIEWER_FIRST_PERSON=false
VIEWER_PUBLIC_HOST=localhost
